<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <input placeholder='0' onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="0" maxlength="3" type="text" [(ngModel)]="width" />
    <input placeholder='0' onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="0" maxlength="3" type="text" [(ngModel)]="height" />

    </div>
      <div class="square" [style.width]="getWidth()" [style.height]="getHeight()">

          <app-rover [orientation]="'E'" class="rover" [style.left]= "'100px'" [style.bottom]= "'50px'">
          </app-rover>
    </div>
</ion-content>
